html{
    font-family: Helvetica; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container{
    background-color: #7fffd4;
    border-radius: 10px;
    border-style: solid;
    padding: 15px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 
    "display display display display"
    "display display display display"
    "display display display display"
    "clear clear backspace division";
}
button{
    font-weight: bold;
    background-color: #a1e6cf; 
    border-radius: 3px;
    padding:12px;
}

.display{
    height: 80px;
    grid-area: display;
    border-style: solid;
    border-radius: 5px;
    background-color: #ffd47f;
    margin-bottom: 10px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 22px;
    padding-right: 12px;
    
}

.bottom, .top{
    height:40px;
    
    
}
.top{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    
}
.brand, .solarpanel{
    width: 50%;
}
.brand{
    font-weight: bold;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
}
.equal{
    background-color: #ff947f;
}
.operators{
    background-color: #94ff7f;  
}
.tube{
    width: 90%;
    height: 30px;
    background-color: rgb(53, 51, 51);
    color: rgb(53, 51, 51);
    border-radius: 8px;
    text-align: right;
    float: right;
    border-style: solid;
    border-color: black;
}
.clear{
    grid-area: clear;
}
.backspace{
    grid-area: backspace;
}
#division{
    grid-area: division;
}